/* PALETAS */
/* #d32364 ROSA ROTARACT */


/* LIBRERIA !!!NO BORRAR!!! */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #000000;
    font-family: "Poppins", sans-serif;
    margin-inline: 30px;
    zoom: 67%;
}

.container {
    margin: 0 auto;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
}




/* NAV MENU */


.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
    text-transform: uppercase;
}

.nav-bar {
    display: flex;
}

.menu-1 {
    margin-right: 180px;
}

.menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
}

.logo-1 {
    width: 0;
}
.logo-2 {
    display: none;
}

.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.social:hover {
    background-color: #d32364;
}

.social img {
    margin: 8px 0 0 10px;
}


/* INFOGRAFÃA */


.menu .nav-bar ul li {
    position: relative;
    float: left;
}

.menu .nav-bar ul li a {
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .nav-bar ul li a:hover {
    color:#d32364;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}


.header-content {
    margin-top: 250px;
    padding-bottom: 100px;
    margin-inline: 100px;
}


/* SLIDER */


.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 30px;
    padding-inline: 30px;
}

.slider-text {
    margin-left: 85px;
    width: 50%;
}

.slider-txt h1 {
    font-size: 65px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p {
    margin-inline: 10%;
    font-size: 16px;
    color: #a7a7a7;
}

.botones {
    margin-top: 50px;
}

.btn-1 {
    background-color: #d32364;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
    padding: 15px 35px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
}

.btn-1:hover {
    background-color: #d32364;
    color: black;
}

.slider-img {
    width: 50%;
}

.slider-img img {
    margin-right: 225px;
    width: 550px;
    
}

/* SWIPERS DE BOTONES */

.swiper-button-prev::after {
    font-size: 25px;
}
.swiper-button-next::after {
    font-size: 25px;
}
.swiper-button-next {
    color: #ffffff;

}
.swiper-button-prev {
    color: #ffffff;
}
.swiper-button-prev:hover {
    color: #d32364;
}
.swiper-button-next:hover {
    color: #d32364;
}
.swiper-pagination-bullet {
    background-color: #D3D2D2;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #DB241B;
}


/* CONTENEDOR */


.products {
    margin: 100px 0px;
    background-color: rgba(155, 88, 88, 0);
    display: flex;
    justify-content: center;
    filter: blur(0px);
}

.products:hover {
    filter: blur(0px);
}

.tabs {
    background-color: #3ba63b00;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    border-radius: 12px;
}

.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 50px;
    text-align: center;
    cursor: pointer;
    color: #A7A7A7;
    font-weight: 700;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
    flex-direction: row;
}


/* BARRA OPCIONES */


.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid #535353;
    color: #FFFFFF;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: inline-block;
}


/* PRODUCTOS (ELEMENTO)*/


.product {
    background-color: rgba(34, 34, 34, 0.252);
    display: flex;
    align-items: center;
    padding: 25px 25px;
    margin: 3% 25%;
    border-radius: 13px;
}

.product-img {
    width: 50%;
    text-align: left;
}

.product-img h4 {
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    line-height: 10px;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-bottom: 25px;
}

.product-img img {
    border: 2px solid rgb(86, 86, 86);
    width: 150px;
    height: 120px;
    border-radius: 15px;
}

.product-txt {
    width: 40%;
    margin-left: 50px;
    text-align: left;
}

.product-txt h4 {
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

.product-txt p {
    color: #A7A7A7;
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.product-txt span {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800;
}

.product:hover {
    filter: blur(0%);
}


/* informacion */


.info {
    margin-top: 200px;
    margin-inline: 35px;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    background-color: #0d0d0d00;
    border-radius: 20px;
}

.info-img {
    width: 50%;
}

.info-img img {
    width: 500px;
    height: 250px;
}

.info-txt {
    width: 50%;
}

.info-txt h2 {
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}


.info-txt p {
    font-size: 18px;
    color: #A7A7A7;
    margin-bottom: 50px;
}

.btn-2 {
    background-color: #d32364;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 50px;
    display: inline-block;
    padding: 15px 35px;
    font-weight: 800;
    text-transform: uppercase;
}

.btn-2:hover {
    background-color: #d32364;
    color: black;
}

.horario {
    padding: 100px 40px;
    background-color: #0D0D0D;
    margin-inline: 2%;
    border-radius: 15px;
}

.horario-info h2 {
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.horario-txt {
    display: flex;
    justify-content: space-between;
}

.txt {
    color: #FFFFFF;
}

.txt h4 {
    font-size: 18px;
    color: #A7A7A7;
    margin-bottom: 30px;
}

.txt p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.map {
    filter: grayscale(100%) invert(92%) contrast(93%);
    padding: 1%;
    margin-left: 1%;
    border-radius: 20px;
    margin-top: 20px;
}

.footer {
    background-color: #0d0d0d00;
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    margin-inline: 55px;
    border-radius: 20px;
}

.links h4 {
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

.links ul li a:hover {
    color: #d32364;
}


/* DESPLAZAMIENTO DE MENU */


@media(max-width: 1020px) {

    .menu {
        background-color: rgba(212, 27, 27, 0);
        margin-top: 50px;
        width: 100%;
        height: 100px;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .menu-1 {
        margin-left: 30%;
        background-color: #000000;
        display: flex;
        justify-content: center;
        border-radius: 10px;
    }

    .menu-2 {
        display: none;
        margin-top: 30px;
    }

    .logo-1 {
        width: 0px;
    }

    .logo-2 {
        width: 11px;
        height: 50px;
        padding-top: 50px;
        padding-right: 10px;
    }

    /* Boton para desplegar menu */

    .menu label {
        display: inline-block;
        justify-content: center;
    }

    /* Contenedor del menu */

    .menu nav {
        margin: 15px;
        position: relative;
        top: 100%;
        display: flex;
        justify-content: center;
    }

    /* Objetos del contenedor del menu */

    .menu .nav-bar ul {
        margin: 10px;
        border-radius: 10px;
        background-color: #ff035f;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        list-style: none; /* Opcional: elimina los puntos de la lista */
        padding: 0; /* Opcional: elimina el padding */
    }

    #menu:checked ~ .nav-bar {
        display: none;
    }

    .header-content {
        padding: 20px;
        margin-top: 350px;
        width: 50%;
        height: auto;
    }

    .slider {
        flex-direction: column;
        width: 50%;
        height: auto;
    }

    .slider-txt {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .slider-txt h1 {
        font-size: 50px;
    }

    .slider-txt p {
        font-size: 16px;
    }

    .btn-1 {
        padding: 10px 25px;
        font-size: 14px;
        margin-block: 10px;
    }

    .slider-img {
        width: 100%;
        text-align: center;
    }

    .slider-img img {
        margin-right: 0px;
        width: 300px;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets,.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -7px;
    }

    .tabs {
        padding: 50px 30px;
    }

    .tabs label {
        width: 33%;
    }

    .info {
        padding: 30px;
        flex-direction: column;
    }

    .info-img {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 400px;
        height: 200px;
        margin-bottom: 25px;
    }

    .info-txt {
        width: 100%;
        text-align: center;
    }

    .info-txt h2 {
        font-size: 50px;
    }

    .info-txt p {
        font-size: 16px;
    }

    .btn-1 {
        font-size: 16px;
    }

    .horario {
        padding: 30px;
        text-align: center;
    }

    .horario-info h2 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .horario-txt {
        flex-direction: column;
    }

    .socials {
        justify-content: center;
    }

    .social img {
        margin: 8px 0 0 0;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .links h4 {
        margin: 25px 0px 10px 0px;
    }
}