@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(0, 0, 0);
}

.back-button {
    width: 15%;
    height: 40px;
    margin-top: 120px;
    color: #FFFFFF;
    background-color: rgba(128, 128, 128, 0);
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
}

.back-button:hover {
    background-color: rgba(128, 128, 128, 0.377);
    color: black;
}

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
    text-transform: uppercase;
}

.nav-bar {
    display: flex;
}

.menu-1 {
    margin-right: 180px;
}

.menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
}

.logo-1 {
    width: 0;
}
.logo-2 {
    width: 150px;
}

.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.social:hover {
    background-color: #d32364;
}

.social img {
    margin: 8px 0 0 10px;
}

/* INFOGRAFÍA */

.menu .nav-bar ul li {
    position: relative;
    float: left;
}

.menu .nav-bar ul li a {
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .nav-bar ul li a:hover {
    color: #d32364;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}


.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}


@media(max-width: 991px) {
    .menu {
        padding: 20px;
        justify-content: space-between;
    }

    .menu-2 {
        display: none;
    }

    .logo-1 {
        width: 100px;
    }

    .logo-2 {
        width: 0px;
    }

    .menu label {
        display: initial;
    }

    .menu .nav-bar {
        margin-inline: 5px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #222222;
        display: none;
        border-radius: 10px 10px 10px 10px;
    }

    .menu .nav-bar ul li {
        width: 100%;
    }

    #menu:checked ~ .nav-bar {
        display: initial;
    }

    .header-content {
        padding: 30px;
        margin-top: 100;
    }

    .slider {
        flex-direction: column;
    }

    .slider-txt {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .slider-txt h1 {
        font-size: 50px;
    }

    .slider-txt p {
        font-size: 16px;
    }

    .btn-1 {
        padding: 10px 25px;
        font-size: 14px;
    }

    .slider-img {
        width: 100%;
        text-align: center;
    }

    .slider-img img {
        margin-right: 0px;
        width: 300px;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets,.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -7px;
    }

    .tabs {
        padding: 50px 30px;
    }

    .tabs label {
        width: 33%;
    }

    .info {
        padding: 30px;
        flex-direction: column;
    }

    .info-img {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 400px;
        height: 200px;
        margin-bottom: 25px;
    }

    .info-txt {
        width: 100%;
        text-align: center;
    }

    .info-txt h2 {
        font-size: 50px;
    }

    .info-txt p {
        font-size: 16px;
    }

    .btn-1 {
        font-size: 16px;
    }

    .horario {
        padding: 30px;
        text-align: center;
    }

    .horario-info h2 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .horario-txt {
        flex-direction: column;
    }

    .socials {
        justify-content: center;
    }

    .social img {
        margin: 8px 0 0 0;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .links h4 {
        margin: 25px 0px 10px 0px;
    }


}